[Oo]bj/
Tests/
*.suo
*.user
TestResults/
*.vspscc
*.vssscc
*.db
*.pdb
*.manifest
*wgmulti/bin/Debug/wgmulti.exe.CodeAnalysisLog.xml
*wgmulti/bin/Debug/wgmulti.exe.lastcodeanalysissucceeded
*xmltv_merger/bin/Debug/xmltv_merge.vshost.exe.manifest
epg.xml*
xmltv_program_copy/bin/Debug/epg.xml
packages/*
wgmulti/bin/Debug/Newtonsoft.Json.xml
wgmulti/bin/Debug/Newtonsoft.Json.dll
wgmulti/bin/Debug/rex/*
wgmulti/bin/Debug/wgmulti.config*
wgmulti/bin/Debug/siteini.pack
wgmulti/bin/Debug/siteini.pack/*