[Oo]bj/
Tests/bin/Debug/
Tests/bin/Release/
Tests/obj/
*.suo
*.user
TestResults/
*.vspscc
*.vssscc
*.db
*.pdb
*.manifest
*wgmulti/bin/Debug/wgmulti.exe.CodeAnalysisLog.xml
*wgmulti/bin/Debug/wgmulti.exe.lastcodeanalysissucceeded
*xmltv_merger/bin/Debug/xmltv_merge.vshost.exe.manifest
epg.xml*
packages/*
xmltv_program_copy/bin/Debug/epg.xml
wgmulti/bin/Debug/Newtonsoft.Json.xml
wgmulti/bin/Debug/Newtonsoft.Json.dll
wgmulti/bin/Debug/rex/*
wgmulti/bin/Debug/wgmulti.config*
wgmulti/bin/Debug/siteini.pack
wgmulti/bin/Debug/siteini.pack/*
wgmulti/bin/Debug/*.ini
wgmulti/bin/Debug/*.xml
wgmulti/bin/Debug/*.bat
wgmulti/bin/Debug/Webgrab*
wgmulti/bin/Debug/*.json
wgmulti/bin/Debug/*.txt
wgmulti/bin/Debug/*.log
wgmulti/bin/Debug/*vshost*
wgmulti/bin/Debug/wgmulti2*
wgmulti/bin/Debug/xmltv*
wgmulti/bin/Debug/robots/*
xmltv_program_copy/bin/Debug/
xmltv_program_copy/bin/Debug/*.*
xmltv_merger/bin/Debug/
xmltv_merger/bin/Debug/*.*
xmltv_time_modify/bin/Debug/
xmltv_time_modify/bin/Debug/*.*
.vs/*.*
.vs/