<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Debug" value="false" />
    <!-- ExecutableName - the path to the webgrab+plus executable (currenlty not used) -->
    <add key="ExecutableName" value="WebGrab+Plus.exe" />
    <!-- ConfigName - the name of the webgrab+plus configuration file (currenlty not used) -->
    <add key="ConfigName" value="WebGrab++.config.xml" />
    <!-- ProcessTimeout after which the webgrab will be killed -->
    <add key="ProcessTimeout" value="240" />
    <!-- ConfigDir - default folder where configuration will be loaded from (if not arguments are provided) -->
    <add key="ConfigDir" value="ServerCare\WebGrab" />
    <!-- GroupChannelsBySiteIni - criteria for grouping channels. If true grabbers will be created for each siteini. If false, grabbers will be started for a number of channels -->
    <add key="GroupChannelsBySiteIni" value="false" />
    <!-- MaxChannelsInGroup - The number of channels in a channelgroup. Works only if GroupChannelsBySiteIni is false. -->
    <add key="MaxChannelsInGroup" value="1" />
    <!-- ConvertTimesToLocal - If set to true will convert all programmes times to local time -->
    <add key="ConvertTimesToLocal" value="true" />
    <!-- TimeOffset - If ConvertTimesToLocal is false, TimeOffset can be applied to channels (currenlty not used) -->
    <add key="TimeOffset" value="0" />
    <!-- MaxAsyncProcesses - The maximum number of WebGrab processes that can be started asynchronously -->
    <add key="MaxAsyncProcesses" value="1" />
    <!-- RandomStartOrder - if set to true, program will start grabbing for random channels groups. If set to false, grabbing will be started for channels as per the list in the config file -->
    <add key="RandomStartOrder" value="true" />
    <!-- ShowWebGrabConsole whether or not to show the console windows created by the WebGrab processes. -->
    <add key="ShowWebGrabConsole" value="false" />
    <!-- GenerateResultsReport true or false - generates a JSON file with the results of the successfully grabbed channels, the failed ones and the time taken. -->
    <add key="GenerateResultsReport" value="true" />
    <!-- CombineLogFiles true or false - combines all log files in a master log file WebGrab++.log.txt -->
    <add key="CombineLogFiles" value="true" />
  </appSettings>
</configuration>