<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Debug" value="False" />
    <!-- ExecutableName - the path to the webgrab+plus executable (currenlty not used) -->
    <add key="ExecutableName" value="WebGrab+Plus.exe" />
    <!-- ConfigName - the name of the webgrab+plus configuration file (currenlty not used) -->
    <add key="ConfigName" value="WebGrab++.config.xml" />
    <!-- ProcessTimeout after which the webgrab will be killed -->
    <add key="ProcessTimeout" value="240" />
    <!-- ConfigDir - default folder where configuration will be loaded from (if not arguments are provided) -->
    <add key="ConfigDir" value="ServerCare\WebGrab" />
    <!--<add key="DeleteWorkFolder" value="false" />-->
    <!-- ConvertTimesToLocal - If set to true will convert all programmes times to local time -->
    <add key="ConvertTimesToLocal" value="true" />
    <!-- TimeOffset - If ConvertTimesToLocal is false, TimeOffset can be applied to channels (currenlty not used) -->
    <add key="TimeOffset" value="0" />
    <!-- MaxAsyncProcesses - The maximum number of WebGrab processes that can be started asynchronously -->
    <add key="MaxAsyncProcesses" value="10" />
    <!-- ShowWebGrabConsole whether or not to show the console windows created by the WebGrab processes. -->
    <add key="ShowWebGrabConsole" value="false" />
  </appSettings>
</configuration>